@page "/"
@inject IJSRuntime jsRuntime

<PageTitle>Index</PageTitle>

<h1>Bienvenido a la tienda de ciclismo "Pedalea"!</h1>

En nuestro sitio web puedes realizar el pedido de todos nuestros productos disponibles.

@code {
   
}
